/* CSS declarations go here */
body {
  padding-top: 50px;
  background-color: #eee;
}

.panel-default {
  margin-top: 20px
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

@media screen and (min-width: 768px){
  .jumbotron h1, .jumbotron .h1 {
      padding-top: 50px;
  }
}

@media screen and (min-width: 992px){
.jumbotron h1, .jumbotron .h1 {
    padding-top: 80px;
}}

@media screen and (min-width: 1200px){
.jumbotron h1, .jumbotron .h1 {
    padding-top: 110px;
}}

.jumbotron h1 {
      font-family: 'Open Sans', sans-serif;
}

.jumbotron h4 {
      font-family: 'Rye', cursive;
}

/* Override font color for sign-in navbar text */
.navbar-inverse .navbar-nav > li > a {
    color: #9d9d9d;
}

a {
    color: #9d9d9d;
    text-decoration: none;
}

a:hover, a:focus {
    color: #fff;
    text-decoration: underline;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: transparent;
    border-color: #337ab7;
}
